<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="#">유저관리<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">영화관리</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">게시판관리</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">블로그관리</a>
    </li>
  </ul>
</nav>
